<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique accusantium ipsum unde quod iusto quisquam officiis ad laboriosam dignissimos maiores sunt maxime, sapiente facilis in voluptatem dolore enim eligendi natus.</p>
    </div>
</section>