<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App NodeJs and MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error numquam illo dolorum repellendus hic quibusdam reprehenderit placeat, molestiae consectetur! Ullam rem distinctio repudiandae maiores! Consectetur distinctio aliquam veritatis facere dignissimos.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat itaque quia sapiente sit nulla et repellat laborum impedit excepturi culpa nisi, aspernatur sed, a animi at, unde ratione voluptate officiis?</p>
    <a href="https://www.youtube.com/watch?v=Wbn9Sp3z0GU" class="btn btn-primary" >YouTube</a>
</div>
